.c-card-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .3s;
  border: 1px solid $c-border;

  background-color: $c-white;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;


  &__add {
    background-color: inherit;
    border-radius: 50%;
    border: 2px dashed $c-switch-active;
    color: $c-switch-active;
    padding: 10px;
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    svg {
      height: 60px;
      width: 60px;
      padding: 17px;
      padding-bottom: 10px;
    }
  }

  &__title {
    color: $c-brand;
  }

  &:focus-within {
    box-shadow: 0 0 0 0.2rem $c-brand;
  }

  &:focus-within a:focus {
    text-decoration: none;
  }

  &__title {
    margin-top: 20px;
  }
}