.header {
  &-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    &__logo {
      color: orange;
      transition: .3s;
      transform: translateX(-20%);

      svg {
        height: 40px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &__search {
      position: relative;
      flex: 0 0 49%;

      &-input {
        position: relative;
        width: 520px;
        height: 44px;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.3);
        border: 2px solid orange;
        border-radius: 9px;
        padding-left: 45px;

        &:before {
          content: "";
          display: block;
          @include png-sprite($icon-magnifier);
        }
      }

      &-label {
        position: absolute;
        @include png-sprite($icon-magnifier);
        width: 19px;
        height: 19px;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
        padding: 9px;
        transition: .3s;

        &:hover {
          opacity: 0.8;
        }
      }

      &-btn {
        position: absolute;
        height: 44px;
        width: 70px;
        background-color: #ff8300;
        border-radius: 0 5px 5px 0;
        border: none;
        color: white;
        margin-left: -10px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          background-color: orange;
        }
      }
    }

    &__user {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      a {
        padding: 20px;
        padding-right: 40px;
        position: relative;
        font-weight: bold;

        &:after {
          content: "";
          display: block;
          position: absolute;
          @include png-sprite($icon-intersect);
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: .3s;
        }
      }
    }
  }

  &__nav {
    height: 50px;
    background-color: #FF8300;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;

    &-wrap {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-list {
      display: flex;
      flex: 0 0 85%;
      justify-content: center;
      align-items: center;

      li {
        list-style-type: none;
        height: 24px;
        display: flex;
        flex: 0 0 18%;
        justify-content: flex-end;

        svg {
          width: 20px;
          color: white;
        }

        a {
          position: relative;
          text-decoration: none;
          font-weight: bold;
          line-height: 19px;
          color: #FFFFFF;
          padding-left: 10px;
          padding-right: 20px;
          padding-top: 5px;
          padding-bottom: 5px;

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include png-sprite($icon-subtract);
            right: 0;
          }
        }
      }
    }

    &-button {
      position: relative;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid #EF7B00;
      box-sizing: border-box;
      border-radius: 60px;
      color: white;
      padding: 7px 15px 7px 35px;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        @include png-sprite($icon-round-arrow);
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}