.header {
  &-banner {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1900px;
      padding: 0.67rem 20px;
      margin: 0 auto;
    }

    &__logo {
      margin: 0;
      transition: 0.3s;

      svg {
        height: 40px;
        color: $c-brand;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &__search {
      min-width: 550px;
      display: flex;
      position: relative;
      margin: 0 20px;

      &::before {
        content: "";
        position: absolute;
        @include png-sprite($icon-search);
        z-index: 1;
        top: 50%;
        transform: translate(50%, -50%);
      }

      &-input {
        position: relative;
        width: 80%;
        font-size: 14px;
        line-height: 19px;
        color: $c-text-input;
        border: 2px solid $c-brand;
        border-radius: 5px;
        padding: 9px 0 9px 45px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-btn {
        padding: 10px 18px;
        background-color: $c-brand;
        border-radius: 0 5px 5px 0;
        border: none;
        color: $c-white;
        cursor: pointer;
        transition: 0.3s;
        font-size: 18px;

        &:hover {
          background-color: $c-brand;
        }
      }
    }

    &__user {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      max-width: 300px;

      &-name {
        border: none;
        background-color: transparent;
        padding: 20px;
        padding-right: 40px;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        text-overflow: clip;
        word-wrap: break-word;
        width: 185px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          @include png-sprite($icon-intersect);
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: .3s;
        }
      }
    }
  }

  &__basis {
    display: inline-block;
    align-items: center;
    position: relative;
    background-color: $c-brand;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.08);
    width: 100%;
    text-align: center;

    &-reset {
      display: inline-block;
      float: right;
      transform: translateX(-100px);
    }

    &-btn {
      position: relative;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid #ef7b00;
      border-radius: 60px;
      color: white;
      padding: 7px 15px 7px 35px;
      cursor: pointer;
      margin: 16px 0;

      &:before {
        content: "";
        position: absolute;
        @include png-sprite($icon-round-arrow);
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__nav {
    font-size: 0;
    display: inline-block;
    margin-right: -80px;

    &-wrap {
      display: flex;
    }

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      margin: 0;
    }

    &-item {
      list-style-type: none;
      display: flex;
      padding: 20px 10px;

      &:nth-child(2) {
        margin-left: 30px;
        margin-right: 10px;
      }

      &:nth-child(3) {
        margin-left: 30px;
        margin-right: 30px;
      }

      &--btn {
        color: $c-white;
        position: relative;
        padding: 0 10px;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @include png-sprite($icon-subtract);
          right: 0;
        }
      }

      &--title {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
      }
    }
  }

  @include media-breakpoint-up(xs) {
    &-banner {
      &__logo {
        svg {
          height: 19px;
          width: 60px;
        }
      }

      &__search {
        min-width: 150px;

        &-input {
          font-size: 10px;
          padding: 2px 0 2px 5px;
        }

        &-btn {
          font-size: 10px;
          padding: 4px 10px 4px 10px;
        }

        &:before {
          display: none;
        }
      }

      &__user {
        max-width: 96px;
        font-size: 10px;

        &-avatar {
          height: 30px;
        }

        &-name {
          display: none;
        }
      }
    }

    &__basis {
      display: inline-block;

      &-reset {
        display: none;
      }
    }

    &__nav {
      margin: 0 auto;

      &-item {
        margin: 0;
        padding: 2px;

        &:nth-child(2), &:nth-child(3) {
          margin: 0;
        }

        &--title {
          font-size: 10px;
          padding: 5px 6px 5px 0px;
        }

        &--btn {
          svg {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-banner {
      &__logo {
        svg {
          height: 20px;
          width: 112px;
        }
      }

      &__search {
        min-width: 36%;
        margin-right: -26px;

        &-input {
          padding: 5px 0 5px 30px;
          font-size: 12px;
        }

        &-btn {
          font-size: 14px;
        }

        &:before {
          display: block;
        }
      }

      &__user {
        max-width: 165px;
        font-size: 14px;

        &-avatar {
          height: 37px;
        }

        &-name {
          padding: 14px;
          padding-left: 0;
          max-width: 100px;
          display: block;
        }
      }
    }

    &__basis {
      display: flex;
      justify-content: center;

      &-reset {
        display: none;
      }
    }

    &__nav {
      margin: 0 auto;

      &-item {
        margin: 0;
        padding: 20px 10px;

        &:nth-child(2), &:nth-child(3) {
          margin: 0;
        }

        &--title {
          padding: 5px 10px 5px 10px;
          font-size: 12px;
        }

        &--btn {
          svg {
            display: block;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-banner {
      &__logo {
        svg {
          height: 27px;
          width: 153px;
        }
      }

      &__search {
        min-width: 500px;
        margin-right: -59px;

        &-input {
          padding: 8px 0 8px 48px;
        }
      }

      &__user {
        max-width: 166px;

        &-name {
          max-width: 185px;
        }
      }
    }

    &__basis {
      display: inline-block;

      &-reset {
        display: block;
        transform: translateX(-50px);
      }
    }

    &__nav {
      margin-right: -80px;
      &-item{
        &--title {
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &-banner {
      &__search {
        min-width: 550px;
        margin-right: -64px;

        &-btn {
          font-size: 16px;
        }
      }

      &__user {
        font-size: 16px;
        max-width: 190px;
      }
    }

    &__nav {
      &-item {
        padding: 20px 10px;

        &:nth-child(2) {
          margin-left: 30px;
          margin-right: 10px;
        }

        &:nth-child(3) {
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
  }
}
