{% if not args %}
    {% set args = {
        'switch' : [
            {
                'categories' : 'All events',
            },
            {
                'categories' : 'Trending',
            },
            {
                'categories' : 'Suggestions',
            }
        ]
    } %}
{% endif %}
<section class="section">
    <div class="container">
        <div class="menu">
            <div class="menu__categories">
                {% for item in args.switch %}
                    <button class="menu__categories-button button">{{ item.categories }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</section>