{% if not args %}
    {% set args = {
        items : [

            {
                icon: 'profil',
                category : 'Profil',
            },
            {
                icon: 'event',
                category : 'Event',
            },
            {
                icon: 'photos',
                category : 'Photos',
            },
            {
                icon: 'notifications',
                category : 'Notifications',
            },
            {
                icon: 'settings',
                category : 'Settings',
            },
            {
                icon: 'payment',
                category : 'Payment',
            },
            {
                icon: 'support',
                category : 'Support',
            },

        ]
    } %}
{% endif %}

<main>
    <div class="container">
        <section class="user">
            <div class="user-aside">
                <ul class="user-aside__list">
                    {% for item in args.items %}
                        <li class="user-aside__item">
                            <button class="user-aside__btn">
                                <svg class="el-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#{{ item.icon }}"></use>
                                </svg>
                                <p class="user-aside__btn-title">{{ item.category }}</p>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</main>