.s-events {
  margin-top: 60px;

  &__list {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }

  &__categories {
    display: flex;
    justify-content: center;

    &-btn {
      width: 179px;
      padding: 14px 10px;
      border-radius: 5px;
      border: 1px solid $c-border-button;
      background: $c-background-button;

      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $c-text-button;
      transition: .3s;
      cursor: pointer;

      &:nth-child(2) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:nth-child(3) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover, &:active {
        background: $c-brand;
        color: $c-white;
      }

      &:focus {
        outline: 4px solid $c-accent-focus;
      }

      &--active {
        border-radius: 5px;
        background-color: $c-switch-active;
        color: $c-white;
        z-index: 1;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid $c-border;
    border-radius: 5px;
    list-style-type: none;
    transition: 0.3s;
    flex: 1 0 320px;
    margin: 0.65%;

    &-link {
      outline: none;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    &:focus-within {
      box-shadow: 0 0 0 0.2rem $c-brand;
    }

    &:focus-within a:focus {
      text-decoration: none;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
    }

    &-picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    &-icon {
      width: 50px;
      height: 50px;
      background-color: $c-brand;
      border-radius: 50%;
      transform: translateY(50%);
      border: 2px solid $c-white;
      position: absolute;
      right: 10px;
      color: $c-white;
      display: flex;
      align-items: center;
      bottom: 0;

      svg {
        height: 30px;
      }
    }

    &-img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: .3s;
      height: 140px;
      object-fit: cover;

    }

    &-description {
      display: flex;
      flex-direction: column;
    }

    &-text {
      padding: 10px 10px;
      font-size: 13px;
      line-height: 18px;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: $c-black;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 11px;
    }

    &-day {
      font-size: 12px;
      line-height: 16px;
      color: $c-black;
      border-top: 0.5px solid $c-border-light;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: bold;
      display: flex;
      height: 36px;

      svg {
        color: $c-brand;
        width: 20px;
        margin-left: 10px;
      }
    }

    &-date {
      margin-left: 10px;
    }
  }

  @include media-breakpoint-up(xs) {
    margin-top: 30px;

    &__categories {

      &-btn {
        font-size: 10px;
        width: 90px;
        padding: 6px;
      }
    }

    &__list {
      margin-top: 30px;
    }

    &__item {
      max-width: 100%;
      margin-bottom: 20px;

      &-text {
        font-size: 9px;
      }

      &-title {
        font-size: 12px;
      }

      &-day {
        font-size: 9px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 30px;

    &__categories {

      &-btn {
        font-size: 14px;
        width: 160px;
        padding: 14px 10px;
      }
    }

    &__list {
      margin-top: 30px;
    }

    &__item {
      max-width: 31.7%;
      margin: 0.65%;

      &-text {
        font-size: 11px;
      }

      &-title {
        font-size: 15px;
      }

      &-day {
        font-size: 10px;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    margin-top: 50px;

    &__list {
      margin-top: 50px;
    }

    &__item {
      max-width: 23.5%;
    }
  }

  @include media-breakpoint-up(xl) {
    &__categories {
      &-btn {
        width: 179px;
        font-size: 16px;
      }
    }

    &__item {
      max-width: 18.7%;

      &-text {
        font-size: 14px;
      }

      &-title {
        font-size: 18px;
      }

      &-day {
        font-size: 12px;
      }
    }
  }
}
