.s-events {
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;

    &--grid {
     /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows:1fr 1fr;
      grid-gap: 1vw;*/
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto auto;

    }
  }

  &__categories {

    display: flex;
    justify-content: center;

    &-btn {
      padding: 14px 10px;
      border-radius: 5px;
      border: 1px solid $c-border-button;
      background: $c-background-button;

      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $c-text-button;
      transition: .3s;
      cursor: pointer;

      &:hover, &:active {
        background: $c-brand;
        color: $c-white;
      }

      &:focus {
        outline: 4px solid $c-accent-focus;
      }

      &--active {
        border-radius: 5px;
        background-color: $c-switch-active;
        color: $c-white;
        z-index: 1;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--grid {
      width: 100%;
      max-width: 100%;
    }
  }


  @include media-breakpoint-up(xs) {
    margin-top: 30px;

    &__categories {
      flex-direction: column;
      align-items: center;

      &-btn {
        font-size: 14px;
        padding: 6px;
        width: 100%;
        margin: 3px;
        border-radius: 5px;
      }
    }

    &__categories-btn.is-active {
      border-radius: 5px;
      background-color: $c-switch-active;
      color: $c-white;
      z-index: 1;
    }

    &__content {
      display: none;
    }

    &__content.is-active {
      display: block;
    }

    &__list {
      margin-top: 30px;
      flex-direction: column;
      align-items: center;

      &--grid {
        //grid-template-columns: 1fr;
      }
    }

    &__item {
      width: 100%;
      margin-bottom: 20px;

      &-text {
        font-size: 14px;
      }

      &-title {
        font-size: 18px;
      }

      &-day {
        font-size: 12px;
      }
    }
  }

  @include media-breakpoint-up(md) {

    &__categories {
      flex-direction: row;

      &-btn {
        width: 160px;
        padding: 14px 10px;
        margin: 0;
      }
    }

    &__list {
      margin-top: 30px;
      flex-direction: row;
      align-items: stretch;

      &--grid {
        //grid-template-columns: 1fr 1fr;
      }
    }

    &__item {
      max-width: 31.7%;
      margin: 0.65%;

      &--grid {
        max-width: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    &__list {
      margin-top: 50px;

      &--grid {
        //grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    &__item {
      max-width: 23.5%;

      &--grid {
        max-width: 100%;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__categories {
      &-btn {
        width: 179px;
        font-size: 16px;
      }
    }

    &__list {
      &--grid {
        //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }

    &__item {
      max-width: 18.7%;

      &--grid {
        max-width: 100%;
      }
    }
  }
}
