.s-events {
  margin-top: 60px;

  &__list {
<<<<<<< HEAD
    // display: grid;
    // justify-items: center;
    // grid-template-columns: repeat(auto-fill, 226px);
    // grid-gap: 1em;
    margin-top: 50px;
    position: relative;
    // justify-content: center;

    //
    display: flex;
    flex-wrap: wrap;
=======
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
>>>>>>> dev
  }

  &__categories {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid $c-border;
    border-radius: 5px;
    list-style-type: none;
<<<<<<< HEAD
    transition: 0.3s;

    //
    flex: 1 0 320px;
    margin: 0.65%;
=======
    transition: .3s;
    flex: 1 0 17%;
    margin: 1%;
>>>>>>> dev

    a {
      outline: none;
    }

    a:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    a:focus {
      text-decoration: underline;
    }

    &:focus-within {
      box-shadow: 0 0 0 0.2rem $c-brand;
    }

    &:focus-within a:focus {
      text-decoration: none;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
    }

    &-picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    &-icon {
      width: 50px;
      height: 50px;
      background-color: $c-brand;
      border-radius: 50%;
      transform: translateY(50%);
      border: 2px solid $c-white;
      position: absolute;
      right: 10px;
      color: $c-white;
      display: flex;
      align-items: center;
      bottom: 0;

      svg {
        height: 30px;
      }
    }

    &-img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
<<<<<<< HEAD
      transition: 0.3s;
      height: 134px;
      object-fit: contain;
=======
      transition: .3s;
      height: 140px;
      object-fit: cover;
>>>>>>> dev
    }

    &-description {
      display: flex;
      flex-direction: column;
    }

    &-text {
      padding: 10px 10px;
      font-size: 13px;
      line-height: 18px;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: $c-black;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 11px;
    }

    &-day {
      font-size: 12px;
      line-height: 16px;
      color: $c-black;
      border-top: 0.5px solid $c-border-light;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: bold;
      display: flex;
      height: 36px;

      svg {
        color: $c-brand;
        width: 20px;
        margin-left: 10px;
      }
    }

    &-date {
      margin-left: 10px;
    }
  }

  @include media-breakpoint-up(md) {
    &__item {
      max-width: 31.7%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__item {
      max-width: 23.5%;
    }
  }

  @include media-breakpoint-up(xl) {
    &__item {
      max-width: 18.7%;
    }
  }
}
