.menu {
  padding-top: 60px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__categories {
    display: flex;
    justify-content: center;
  }

  &__list {
    padding-top: 50px;
    position: relative;
    display: inline-block;
    height: 320px;
    margin: 20px;
    transition: .3s;

    :hover {
      opacity: 0.8;
    }

    &:after {
      content: "";
      position: absolute;
      width: 44px !important;
      height: 44px !important;
      border-radius: 50%;
      top: 50%;
      right: 20px;
      background: #FF8300;
      border: 2px solid #FFFFFF;
      cursor: pointer;
    }
  }

  &__list--glass {
    &:after {
      @include png-sprite($icon-holiday);
    }
  }

  &__list--board {
    &:after {
      @include png-sprite($icon-board);
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 226px;
    position: relative;
    border: 0.5px solid #E2E2E5;
    border-radius: 5px;

    &__logo {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: .3s;
    }

    &__description {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      p {
        padding: 10px 10px;
        font-size: 13px;
        line-height: 18px;
      }

      h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 15px;
        padding-left: 10px;
        height: 50px;
      }

      time {
        position: relative;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.6);
        border-top: 0.5px solid #E2E2E5;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 35px;
        font-weight: bold;

        &:before {
          content: "";
          @include png-sprite($icon-calendar);
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}