.user {
  margin-top: 60px;
  display: flex;

  &-aside {
    width: 29%;
    border: 1px solid $c-border;
    background-color: $c-white;
    border-radius: 5px;

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    &__item {
      border-bottom: 1px solid rgba(183, 193, 203, 0.2);
      margin-left: 10px;
    }

    &__btn {
      display: flex;
      align-items: center;
      background-color: inherit;
      border: none;
      width: 100%;
      position: relative;
      padding: 5px 0;
      transition: .3s;
      color: #3E3934;

      svg {
        height: 20px;
        width: 20px;
        opacity: 0.5;
        transition: .3s;
      }

      &-title {
        font-size: 13px;
        margin-left: 10px;
      }

      &::after {
        content: "";
        position: absolute;
        @include png-sprite($icon-aside);
        right: 10px;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  &-aside__btn.is-active {
    color: $c-brand;

    svg {
      opacity: 1;
    }
  }

  &-edit {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__item {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(xs) {

    &-edit {
      &__list {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
      }

      &__item {
        width: 100%;
        margin-bottom: 20px;

        &-text {
          font-size: 14px;
        }

        &-title {
          font-size: 18px;
        }

        &-day {
          font-size: 12px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-edit {
      &__list {
        margin-top: 30px;
        flex-direction: row;
        align-items: stretch;
      }

      &__item {
        max-width: 48.7%;
        margin: 0.65%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-edit {
      &__list {
        margin-top: 50px;
      }

      &__item {
        max-width: 35.5%;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &-edit {
      &__item {
        max-width: 35.5%;
      }
    }
  }
}