.user {
  margin-top: 60px;
  display: flex;

  &-aside {
    &__list {
      width: 20%;
      display: flex;
      border: 1px solid $c-border;
      background-color: $c-white;
      border-radius: 5px;
      flex-direction: column;
      list-style: none;
      height: max-content;
      cursor: pointer;
    }

    &__item {
      padding-left: 20px;
      position: relative;
      transition: .3s;

      &:last-child {
        border-bottom: none;
      }

      &:focus-within {
        box-shadow: 0 0 0 0.2rem $c-accent-focus;

        svg {
          opacity: 1;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid rgba(183, 193, 203, 0.2);
      width: 100%;
      padding: 14px 0;
      transition: .3s;
      color: #3E3934;
      cursor: pointer;
      font-weight: bold;
      outline: none;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      svg {
        height: 20px;
        width: 20px;
        opacity: 0.5;
        transition: .3s;
      }

      &-title {
        font-size: 13px;
        margin-left: 10px;
      }

      &::after {
        content: "";
        position: absolute;
        @include png-sprite($icon-aside);
        right: 20px;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  &-aside__btn.is-active {
    color: $c-brand;

    svg {
      opacity: 1;
    }
  }

  &-edit {
    &__wrap {
      margin-left: 20px;
      position: relative;
    }

    &__title {
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 82%;
        background-color: rgba(0, 0, 0, 0.1);
        top: 16px;
        right: 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    &__item {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1%;
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-ready {
    margin-top: 60px;
    margin-bottom: 60px;

    &__title {
      position: relative;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        right: 10px;
        height: 1px;
        width: 78%;
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 7px;
      }
    }

    &__wrap-btn {
      display: flex;
      margin-right: 68px;
    }

    &__btn {
      border-radius: 50%;
      border: none;
      background-color: $c-brand;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);


      svg {
        height: 20px;
        width: 20px;
      }

      &--right {
        color: $c-white;
      }

      &--left {
        background-color: $c-white;
        color: $c-brand;
        margin-right: 5px;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    &__item {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1%;
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-up(xs) {

    flex-direction: column;

    &-aside {
      &__list {
        width: 100%;
      }
    }

    &-edit {
      &__wrap {
        margin: 30px 0 0 0;
      }

      &__title {

        &::after {
          display: none;
        }
      }

      &__list {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }

    &-ready {
      &__title {
        &::after {
          display: none;
        }
      }

      &__wrap-btn {
        margin-right: 0;
      }

      &__list {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-edit {
      &__list {
        flex-direction: row;
      }

      &__item {
        width: 32%;
        margin: 0.65%;
      }

      &__title {
        &::after {
          display: block;
          width: 69%;
        }
      }
    }

    &-ready {
      &__title {
        &::after {
          display: block;
          width: 60%;
        }
      }

      &__wrap {
        &-btn {
          margin-right: 4%;
        }
      }

      &__list {
        flex-direction: row;
      }

      &__item {
        width: 23%;
        margin: 0.65%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;

    &-aside {
      &__list {
        width: 30%;
        margin-right: 20px;
      }
    }

    &-edit {
      &__title {
        &::after {
          display: block;
          width: 72%;
        }
      }

      &__wrap {
        margin-top: 0;
      }

      &__item {
        width: 27%;
      }
    }

    &-ready {

      &__title {
        &::after {
          display: block;
          width: 65%;
        }
      }

      &__item {
        width: 23%;
      }
    }

  }

  @include media-breakpoint-up(xl) {

    &-aside {
      &__list {
        width: 25%;
      }
    }

    &-edit {
      &__item {
        width: 23%;
      }

      &__title {
        &::after {
          width: 79%;
        }
      }
    }

    &-ready {
      &__title {
        &::after {
          width: 74%;
        }
      }
    }
  }
}