.button {
  padding: 14px 46px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  background: #FFE6CC;
  margin: -3px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3E3934;
  transition: .3s;
  cursor: pointer;

  &:hover, &:active {
    background: #FF8300;
    color: white;
  }

  &:focus {
    outline: 4px solid rgba(0,125,250,0.6);
  }
  
  &--selected {
    border-radius: 5px;
    background-color: #1D24AB;
    color: #FFFFFF;
    z-index: 1;
  }
}