.user-button {
  border: none;
  background-color: $c-white;
  padding: 20px;
  padding-right: 40px;
  position: relative;
  font-weight: bold;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    @include png-sprite($icon-intersect);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
  }
}