{% if not args %}
    {% set args = {
        'avatar': '../../images/img/ava.png',
        'button': 'go!',
        'name' : 'Robert Singer'
    } %}
{% endif %}
<header class="header">
    <div class="container">
        <div class="header-banner">
            <div class="header-banner__logo">
                <svg class="el-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                </svg>
            </div>
            <div class="header-banner__search">
                <form action="" class="header__search" method="get">
                    <input type="search" class="header__search-input" id="search"
                           name="search" placeholder="I'm looking for...">
                    <button class="header__search-btn" type="submit">{{ args.button }}</button>
                    <label for="search" class="header__search-btn"></label>
                </form>
            </div>
            <div class="header-banner__user">
                <div class="header-user__avatar"><img src="{{ args.avatar }}" alt="avatar"></div>
                <h3 class="header-user__name">{{ args.name }}</h3>
            </div>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <button class="reset"></button>
        </nav>
    </div>
</header>