<header class="header">
    <div class="container">
        <div class="header-banner">
            <div class="header-banner__logo"><img src="../../images/svg_sprite_inline/Group.svg" alt="logo"></div>
            <div class="header-banner__search">
                <form action="" class="header__search" method="get">
                    <input type="search" class="header__search-input" id="search"
                           name="search" placeholder="I'm looking for...">
                    <button class="header__search-btn" type="submit">Go!</button>
                    <label for="search" class="header__search-btn"></label>
                </form>
            </div>
            <div class="header-banner-user"></div>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <button class="reset"></button>
        </nav>
    </div>
</header>