$icon-intersect: 0px 19px 0px -19px 13px 9px 33px 28px 'sprite.png';
$icon-magnifier: 0px 0px 0px 0px 19px 19px 33px 28px 'sprite.png';
$icon-round-arrow: 19px 0px -19px 0px 14px 13px 33px 28px 'sprite.png';
$icon-subtract: 19px 13px -19px -13px 9px 6px 33px 28px 'sprite.png';
