$icon-aside: 94px 51px -94px -51px 5px 8px 99px 66px 'sprite.png';
$icon-board: 0px 0px 0px 0px 40px 41px 99px 66px 'sprite.png';
$icon-calendar: 80px 38px -80px -38px 16px 13px 99px 66px 'sprite.png';
$icon-cup: 0px 41px 0px -41px 20px 25px 99px 66px 'sprite.png';
$icon-holiday: 40px 0px -40px 0px 40px 41px 99px 66px 'sprite.png';
$icon-intersect: 43px 41px -43px -41px 13px 9px 99px 66px 'sprite.png';
$icon-magnifier: 80px 0px -80px 0px 19px 19px 99px 66px 'sprite.png';
$icon-puzzle: 20px 41px -20px -41px 23px 16px 99px 66px 'sprite.png';
$icon-round-arrow: 80px 51px -80px -51px 14px 13px 99px 66px 'sprite.png';
$icon-search: 80px 19px -80px -19px 19px 19px 99px 66px 'sprite.png';
$icon-subtract: 56px 41px -56px -41px 9px 6px 99px 66px 'sprite.png';
