$icon-board: 0px 0px 0px 0px 40px 41px 80px 79px 'sprite.png';
$icon-calendar: 58px 41px -58px -41px 16px 13px 80px 79px 'sprite.png';
$icon-cup: 0px 41px 0px -41px 20px 25px 80px 79px 'sprite.png';
$icon-holiday: 40px 0px -40px 0px 40px 41px 80px 79px 'sprite.png';
$icon-intersect: 14px 66px -14px -66px 13px 9px 80px 79px 'sprite.png';
$icon-magnifier: 20px 41px -20px -41px 19px 19px 80px 79px 'sprite.png';
$icon-round-arrow: 0px 66px 0px -66px 14px 13px 80px 79px 'sprite.png';
$icon-search: 39px 41px -39px -41px 19px 19px 80px 79px 'sprite.png';
$icon-subtract: 58px 54px -58px -54px 9px 6px 80px 79px 'sprite.png';
