.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-art {
  width: 13px;
  height: 27px;
}
.icon-boll {
  width: 27px;
  height: 26px;
}
.icon-burger {
  width: 50px;
  height: 50px;
}
.icon-cubes {
  width: 19px;
  height: 19px;
}
.icon-cup {
  width: 24px;
  height: 29px;
}
.icon-date {
  width: 21px;
  height: 17px;
}
.icon-drop {
  width: 17px;
  height: 24px;
}
.icon-logo {
  width: 178px;
  height: 31px;
}
.icon-music {
  width: 18px;
  height: 20px;
}
.icon-partner {
  width: 82px;
  height: 16px;
}
.icon-search {
  width: 19px;
  height: 19px;
}
.icon-union {
  width: 24px;
  height: 20px;
}
.icon-wins {
  width: 20px;
  height: 25px;
}
