$icons: (
    sprite: (width: 13px, height: 9px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    intersect: (width: 13px, height: 9px, backgroundX: 0px, backgroundY: 0px),
);