.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-cubes {
  width: 19px;
  height: 19px;
}
.icon-date {
  width: 21px;
  height: 17px;
}
.icon-drop {
  width: 17px;
  height: 24px;
}
.icon-logo {
  width: 178px;
  height: 31px;
}
.icon-search {
  width: 19px;
  height: 19px;
}
.icon-union {
  width: 24px;
  height: 20px;
}
